.skills {
  padding-top: 91px;
  padding-bottom: 19px;
}
.skills h2 {
  margin-bottom: 69px;
}
.descr {
  margin-bottom: 83px;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  width: 100%;
}
